<div id="page" class="stylehome1 home2 h0">
  <div class="mobile-menu">
    <div class="header stylehome1">
      <div class="main_logo_home2">
        <img class="nav_logo_img img-fluid float-left mt20" src="{{{headerlogo1}}}" alt="{{{sitename}}}">
        <span>{{{sitename}}}</span>
      </div>
      <ul class="menu_bar_home2">
        <li class="list-inline-item">
          <div class="search_overlay">
            <a id="search-button-listener2" class="mk-search-trigger mk-fullscreen-trigger" href="#">
              <div id="search-button2"><i class="flaticon-magnifying-glass"></i></div>
            </a>
          </div>
        </li>
        <li class="list-inline-item"><a href="#menu"><span></span></a></li>
      </ul>
    </div>
  </div><!-- /.mobile-menu -->
  <nav id="menu" class="stylehome1">
    <ul>
      {{{ output.custom_menu }}}
      {{> theme_edumy/ccn_header_mob_user }}
    </ul>
  </nav>
</div>
