<div class="header_top home4">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-5">
        <ul class="home4_header_top_contact">
          <li class="list-inline-item"><a href="tel:{{{phone}}}">{{{phone}}}</a></li>
          <li class="list-inline-item"><a href="mailto:{{{email_address}}}">{{{email_address}}}</a></li>
        </ul>
      </div>
      <div class="col-lg-7 col-xl-7">
        <ul class="sign_up_btn home4 dn-smd text-right">
          <li class="list-inline-item"><a href="{{{cta_link}}}" class="btn btn-md"><i class="flaticon-megaphone"></i><span class="dn-md">{{{cta_text}}}</span></a></li>
          {{> theme_edumy/ccn_navbar_user_popup }}
        </ul><!-- Button trigger modal -->
      </div>
    </div>
  </div>
</div>
<!-- Main Header Nav -->
<header class="header-nav menu_style_home_four navbar-scrolltofixed stricky main-menu">
  <div class="container">
    <!-- Ace Responsive Menu -->
    <nav>
      <!-- Menu Toggle btn-->
      <div class="menu-toggle">
        <img class="nav_logo_img img-fluid" src="{{{headerlogo1}}}" alt="{{{sitename}}}">
        <button type="button" id="menu-btn">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      {{#logo}}
        <a href="{{{ config.wwwroot }}}" class="navbar_brand float-left dn-smd">
          {{#logo_image}}<img class="logo1 img-fluid" src="{{{headerlogo1}}}" alt="{{{sitename}}}">{{/logo_image}}
          {{#logo_image}}<img class="logo2 img-fluid" src="{{{headerlogo2}}}" alt="{{{sitename}}}">{{/logo_image}}
          {{#logotype}}<span>{{{sitename}}}</span>{{/logotype}}
        </a>
      {{/logo}}
      <!-- Responsive Menu Structure-->
      <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
      <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
        {{{ output.custom_menu }}}
        {{> theme_edumy/ccn_navbar_user }}
      </ul>
    </nav>
    <!-- End of Responsive Menu -->
  </div>
</header>
