<section class="inner_page_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <div class="breadcrumb_content">
          <h4 class="breadcrumb_title">{{{ pageheading }}}</h4>
          {{{ output.navbar }}}
        </div>
      </div>
    </div>
  </div>
</section>
